<h1> THIS MUST BE THE PLACE</h1>

<main>
    <h2> <%= @place.name%> </h2>
    <p><%= @place.description %></p>
    <%= button_to "edit this place", edit_place_path(@place), :method => :get %>
</main>

<nav>
    <%= link_to "go back", places_path%>
</nav>